users:
  - default
%{ for user in users ~}
  - name:  ${user.username}
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: ${var.groups}
    lock_passwd: true
    shell: /bin/bash
    ssh_authorized_keys:
      - ${var.ssh_authorized_keys}
%{ endfor ~}